NAME: "Django Rest Commerce"

MAIL:
  NAME: MAIL_NAME
  ADDRESS: MAIL_ADDRESS
  HOST: MAIL_HOST
  USE_TLS: True
  PORT: MAIL_PORT
  REPLY_TO:
    - REPLY_ADDRESS_1
    - REPLY_ADDRESS_2

DB:
  ENGINE: DB_ENGINE
  NAME: DB_NAME
  HOST: DB_HOST
  PORT: DB_PORT

ALLOWED_HOST:
  - ALLOWED_HOST_1
  - ALLOWED_HOST_2

CORS_ALLOWED_ORIGIN:
  - CROSS_ORIGIN_1
  - CROSS_ORIGIN_2