
<div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-chart-area me-1"></i>
        Monthly Sale: <span id="monthly_sale_year"></span>
    </div>
    <div class="card-body d-flex align-items-center text-center">
        <canvas id="AreaChartCanvas" width="100%" height="30"></canvas>
        <div id="monthly">Loading...</div>
    </div>
    <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
</div>

<div class="row">
    <div class="col-lg-6">
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-chart-bar me-1"></i>
                Yearly Sale: <span id="yearly_sale_year"></span>
            </div>
            <div class="card-body  d-flex align-items-center text-center">
                <canvas id="BarChartCanvas" width="100%" height="50"></canvas>
                <div id="yearly">Loading...</div>
            </div>
            <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-chart-pie me-1"></i>
                Order Analysis: <span id="order_analysis_month"></span>
            </div>
            <div class="card-body d-flex align-items-center text-center">
                <canvas id="PieChartCanvas" width="100%" height="50"></canvas>
                <div id="order">Loading...</div>
            </div>
            <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
        </div>
    </div>
</div>


{% block body_end_content %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>

        // Load chart
        document.body.onload = function () {
            load_monthly_data('/seller/api/sales/month/')
            load_yearly_data('/seller/api/sales/year/')
            load_order_data('/seller/api/sales/')
        }

        //Load Monthly Sales Report
        const load_monthly_data = (url) => {
            const monthly_update = document.getElementById('monthly')
            monthly_update.innerHTML = 'Loading...'
            monthly_update.className = ''
            try {
                let areaChartData = reqApi(url)
                if(areaChartData.error){
                    monthly_update.innerHTML = areaChartData.error
                }else {
                    document.getElementById('monthly_sale_year').innerHTML = areaChartData.title
                    const AreaChart = plotAreaChart(document.getElementById("AreaChartCanvas"), areaChartData.days, areaChartData.amount)
                    monthly_update.innerHTML = ''
                }
            }catch (e) {
                monthly_update.className = 'text-danger'
                monthly_update.innerHTML = 'Error Loading data'
            }
        }

        //Load Yearly Sales Report
        const load_yearly_data = (url) => {
            const yearly_update = document.getElementById('yearly')
            yearly_update.innerHTML = 'Loading...'
            yearly_update.className = ''
            let barChartData = reqApi(url)
            try {
                if(barChartData.error) {
                    yearly_update.innerHTML = barChartData.error
                }else{
                    document.getElementById('yearly_sale_year').innerHTML = barChartData.title
                    console.log(`BarChartData => month ${barChartData.months} | amount: ${barChartData.amount}`)
                    const BarChart = plotBarChart(document.getElementById("BarChartCanvas"), barChartData.months, barChartData.amount)
                    yearly_update.innerHTML = ''
                }
                }catch (e) {
                    yearly_update.className = 'text-danger'
                    yearly_update.innerHTML = 'Error Loading data'
                }
        }

        //Load all order analysis
        const load_order_data = (url) => {
            const order_update = document.getElementById('order')
            order_update.innerHTML = 'Loading...'
            order_update.className = ''
            try{
                let pieChartData = reqApi(url)
                console.log(pieChartData)
                console.log(0 & null)
                if(pieChartData.error) {
                    order_update.innerHTML = pieChartData.error
                }else if(!(pieChartData.new || pieChartData.processing || pieChartData.delivered || pieChartData.cancelled)){
                    order_update.innerHTML = 'No record Found!'
                }else{
                    document.getElementById('order_analysis_month').innerHTML = pieChartData.title
                    const PieChart = plotPirChart(
                        document.getElementById("PieChartCanvas"),
                        ["New", "Processing", "Delivered", "Cancelled"],
                        [pieChartData.new, pieChartData.processing, pieChartData.delivered, pieChartData.cancelled],
                        {#[0, 0, 0, 0],#}
                        ['#28a745', '#ffc107', '#007bff', '#dc3545']
                    )
                    order_update.innerHTML = ''
                }
            }catch (e) {
                order_update.className = 'text-danger'
                order_update.innerHTML = 'Error Loading data'
            }
        }
    </script>
{% endblock body_end_content %}