<div class="row">
    <div class="col-md-4 mb-4">
        <div class="card">
            <div class="card-header">
                <i class="fas fa-chart-pie me-1"></i>
                Coming Soon... <span id="extra_sale_year"></span>
            </div>
            <div id="ExtraChartCard" class="card-body d-flex align-items-center text-center">
{#                <div class="chart-loading spinner-border text-primary m-auto" role="status">#}
{#                    <span class="sr-only">Loading...</span>#}
{#                </div>#}
{#                <canvas class="chart-canvas d-none" id="BarChartCanvas"></canvas>#}
{#                <div class="chart-error text-danger m-auto d-none">Error in loading data!</div>#}
                <div class="chart-error text-cus-light-dark m-auto">Coming Soon...</div>

            </div>
{#        <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>#}
    </div>
    </div>
    <div class="col-md-8 mb-4">
        <div class="card">
            <div class="card-header">
                <i class="fas fa-chart-area me-1"></i>
                Monthly Sale: <span id="monthly_sale_year"></span>
            </div>
            <div id="MonthlyChartCard" class="card-body d-flex align-items-center text-center">
                <div class="chart-loading spinner-border text-primary m-auto" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
                <canvas class="chart-canvas d-none" id="BarChartCanvas"></canvas>
                <div class="chart-error text-danger m-auto d-none">Error in loading data!</div>
            </div>
        <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
    </div>
    </div>
</div>

<div class="row">
    <div class="col-md-8 mb-4">
        <div class="card">
            <div class="card-header">
                <i class="fas fa-chart-bar me-1"></i>
                Yearly Sale: <span id="yearly_sale_year"></span>
            </div>
            <div id="YearlyChartCard" class="card-body d-flex align-items-center text-center">
                <div class="chart-loading spinner-border text-primary m-auto" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
                <canvas class="chart-canvas d-none" id="BarChartCanvas"></canvas>
                <div class="chart-error text-danger m-auto d-none">Error in loading data!</div>
            </div>
            <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
        </div>
    </div>
    <div class="col-md-4 mb-4">
        <div class="card">
            <div class="card-header">
                <i class="fas fa-chart-pie me-1"></i>
                Order Analysis: <span id="order_analysis_month"></span>
            </div>
            <div id="OrderChartCard" class="card-body d-flex align-items-center text-center">
                <div class="chart-loading spinner-border text-primary m-auto" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
                <canvas class="chart-canvas d-none" id="BarChartCanvas"></canvas>
                <div class="chart-error text-danger m-auto d-none">Error in loading data!</div>
            </div>
            <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
        </div>
    </div>
</div>


{% block body_end_content %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>

        // Load chart
        document.body.onload = function () {
            document.getElementById('monthly_sale_year').innerText = load_chart(
                'MonthlyChartCard', '/seller/api/sales/month/', 'month')
            document.getElementById('yearly_sale_year').innerText = load_chart(
                'YearlyChartCard', '/seller/api/sales/year/', 'year')
            document.getElementById('order_analysis_month').innerText = load_chart(
                'OrderChartCard', '/seller/api/sales/', 'order')
        }

        //Load Chart
        const load_chart = (chart_area_id, url, type) => {
            const chart_area = document.getElementById(chart_area_id)
            const chart_canvas = chart_area.querySelector('.chart-canvas')
            const chart_error = chart_area.querySelector('.chart-error')
            const chart_loading = chart_area.querySelector('.chart-loading')

            chart_canvas.classList.add('d-none')
            chart_error.classList.add('d-none')
            chart_loading.classList.remove('d-none')

            try {
                let chartData = reqApi(url)
                if(chartData.error){
                    chart_loading.classList.add('d-none')
                    chart_canvas.classList.add('d-none')
                    chart_error.innerText = chartData.error
                    chart_error.classList.remove('d-none')
                }else {
                    chart_loading.classList.add('d-none')
                    chart_error.classList.add('d-none')
                    chart_canvas.classList.remove('d-none')
                    if(type.toLowerCase()==='year') {
                        const BarChart = plotBarChart(chart_canvas, chartData.months, chartData.amount)
                    }else if(type.toLowerCase()==='month') {
                        const AreaChart = plotAreaChart(chart_canvas, chartData.days, chartData.amount)
                    }else if(type.toLowerCase()==='order') {
                        const PieChart = plotPirChart(
                            chart_canvas,
                            ["New", "Processing", "Delivered", "Cancelled"],
                            [chartData.new, chartData.processing, chartData.delivered, chartData.cancel],
                            ['#007bff', '#ffc107', '#28a745', '#dc3545']
                        )
                    }else {
                        chart_loading.classList.add('d-none')
                        chart_canvas.classList.add('d-none')
                        chart_error.innerText = chartData.error
                        chart_error.classList.remove('d-none')
                    }
                    return chartData.title
                }
            }catch (e) {
                chart_loading.classList.add('d-none')
                chart_canvas.classList.add('d-none')
                chart_error.innerText = 'Error in loading data!'
                chart_error.classList.remove('d-none')
            }
        }
    </script>
{% endblock body_end_content %}