{% load static %}
{% block head_content %}
    <style>
        img {
            max-width: 100%;
            max-height: 100%;
        }
    </style>
{% endblock head_content %}

<input type="hidden" class="form-control" id="product-id" name="product-id" value="{{ product.product_id }}" readonly>

<div class="form-row">
    <div class="col-md-3 mb-4">
        <label for="product-name">Product Name: </label>
    </div>
    <div class="col-md-9 mb-4 ">
        <input type="text" class="form-control" id="product-name" name="product-name"
               value="{{ product.product_name }}"
               maxlength="250" required>
        <div class="invalid-feedback">Enter A valid Product Name
        </div>
    </div>
</div>

<div class="form-row">
    <div class="col-md-3 mb-4">
        <label>Product Images: </label>
    </div>
    <div class="col-md-9 mb-4">
        <div class="bg-secondary mt-2">
            <p class="text-light p-3">
                Maximum image size upto 1MB
            </p>
        </div>
        {% if product.primary_image %}
            <div class="mr-4">
                <a data-toggle="modal" data-target="#primary-image-view"
                   href="{% get_media_prefix %}{{ product.primary_image }}">View</a>
                <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
                     id="primary-image-view" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-xl">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle"></h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <img src="{% get_media_prefix %}{{ product.primary_image }}" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
        <div class="custom-file mb-2">
            <input type="file" accept="image/x-png,image/gif,image/jpeg" class="custom-file-input"
                   id="primary-image" name="primary-image">
            <label class="custom-file-label" for="primary-image">
                {% if product.primary_image %}
                    /{{ product.primary_image  | split_with:'/' | data_at:-1 }}
                {% else %}
                    Select Primary Image...
                {% endif %}
            </label>
            <div class="invalid-feedback">Please select a primary image</div>
        </div>

        {% if product.optional_image_1 %}
            <div class="mr-4">
                <a data-toggle="modal" data-target="#optional-image-1-view" href="#">View</a>
                <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
                     id="optional-image-1-view" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-xl">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle"></h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <img src="{% get_media_prefix %}{{ product.optional_image_1 }}" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
        <div class="custom-file mb-2">
            <input type="file" accept="image/x-png,image/gif,image/jpeg" class="custom-file-input"
                   name="optional-image-1" id="optional-image-1">
            <label class="custom-file-label" for="optional-image-1">
                {% if product.optional_image_1 %}
                    /{{ product.optional_image_1  | split_with:'/' | data_at:-1 }}
                {% else %}
                    Select Optional Image (1)...
                {% endif %}
            </label>
        </div>


        {% if product.optional_image_2 %}
            <div class="mr-4">
                <a data-toggle="modal" data-target="#optional-image-2-view" href="#">View</a>
                <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
                     id="optional-image-2-view" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-xl">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle"></h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <img src="{% get_media_prefix %}{{ product.optional_image_2 }}" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
        <div class="custom-file mb-2">
            <input type="file" accept="image/x-png,image/gif,image/jpeg" class="custom-file-input"
                   name="optional-image-2" id="optional-image-2">
            <label class="custom-file-label" for="optional-image-2">
                {% if product.optional_image_2 %}
                    /{{ product.optional_image_2  | split_with:'/' | data_at:-1 }}
                {% else %}
                    Select Optional Image (2)...
                {% endif %}
            </label>
        </div>


        {% if product.optional_image_3 %}
            <div class="mr-4">
                <a data-toggle="modal" data-target="#optional-image-3-view" href="#">View</a>
                <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
                     id="optional-image-3-view" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-xl">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle"></h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <img src="{% get_media_prefix %}{{ product.optional_image_3 }}" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
        <div class="custom-file mb-2">
            <input type="file" accept="image/x-png,image/gif,image/jpeg" class="custom-file-input"
                   name="optional-image-3" id="optional-image-3">
            <label class="custom-file-label" for="optional-image-3">
                {% if product.optional_image_3 %}
                    /{{ product.optional_image_3  | split_with:'/' | data_at:-1 }}
                {% else %}
                    Select Optional Image (3)...
                {% endif %}
            </label>
        </div>
    </div>
</div>

<div class="form-row">
    <div class="col-md-3 mb-4">
        <label for="price">Price: </label>
    </div>
    <div class="col-md-4 mb-4">
        <input type="number" class="form-control" id="price" name="price" value="{{ product.price }}" min="1"
               step="0.01"
               max="999999" required>
        <div class="invalid-feedback">Enter A valid Amount
        </div>
    </div>
</div>

<div class="form-row">
    <div class="col-md-3 mb-4">
        <label for="delivery-charge">Delivery charge: </label>
    </div>
    <div class="col-md-4 mb-4">
        <input type="number" class="form-control" id="delivery-charge" name="delivery-charge"
               value="{{ product.delivery_charge }}" min="0" step="0.01">
        <div class="invalid-feedback">Enter A valid Amount</div>
    </div>
</div>

<div class="form-row">
    <div class="col-3 mb-4">
        <label>Offer:</label>
    </div>
    <div class="col-9 mb-4">{{ product.offer }}
        <div class="custom-control custom-switch">
            <input type="checkbox" class="custom-control-input" id="chkOffer" name="offer-check"
                    {% if product.offer %} checked {% endif %}>
            <label class="custom-control-label" for="chkOffer"> Check, if any offer</label>
        </div>
    </div>
</div>

<div class="form-row{% if not product.offer %} d-none{% endif %}" id="offer-details">
    <div class="col-md-3 mb-4 ">

    </div>
    <div class="col-md-3 mb-4 ">
        <label for="offer-price">Offer Price: </label>
        <input type="number" class="form-control" id="offer-price" name="offer-price"
               value="{{ product.offer_price }}"
               min="1" step="0.01" max="999999">
        <div class="invalid-feedback">Enter A valid Amount
        </div>
    </div>
    <div class="col-md-3 mb-4 ">
        <label for="valid-from">Offer Valid From: </label>
        <input type="datetime-local" class="form-control" id="valid-from" name="offer-start"
               value="{{ product.offer_start | date:'Y-m-d\TH:m' }}">
        <div class="invalid-feedback">Enter A valid Offer Start Date
        </div>
    </div>
    <div class="col-md-3 mb-4 ">
        <label for="valid-upto">Offer Valid Upto: </label>
        <input type="datetime-local" class="form-control" id="valid-upto" name="offer-end"
               value="{{ product.offer_end | date:'Y-m-d\TH:m' }}">
        <div class="invalid-feedback">Enter A valid Offer End Date
        </div>
    </div>
</div>

<div class="form-row">
    <div class="col-md-3 mb-4">
        <label for="category">Category: </label>
    </div>
    <div class="col-md-5 mb-4 ">
        <select class="custom-select mr-sm-2" id="category" name="category" required multiple>
            {% for category in categories %}
                <option value="{{ category.category_id }}"{% if category in product.category.all %}
                        selected{% endif %}>
                    {{ category.category_name }}
                </option>
            {% endfor %}
        </select>
        <div class="invalid-feedback">Select A Category
        </div>
    </div>
</div>

<div class="form-row mb-4">
    <div class="col-12">
        <label for="short-description">Short Description: </label>
        <textarea class="form-control" id="short-description" name="short-description" rows="5" maxlength="1000"
                  required>{{ product.short_description }}</textarea>
        <div class="invalid-feedback">Please enter Short Description</div>
    </div>
</div>

<div class="form-row">
    <div class="col-12">
        <label for="long-description">Long Description: </label>
        <textarea class="form-control  mb-4" id="long-description" name="long-description"
                  rows="10">{{ product.long_description }}</textarea>
    </div>
</div>

<div class="form-row">
    <div class="col-md-3 mb-4">
        <label for="tag" class="align-middle">Tag: </label>
    </div>
    <div class="col-md-9 mb-4 ">
        <div class="bg-secondary mt-2">
            <p class="text-light p-3">
                Tag should be separated by new line
            </p>
        </div>
        <textarea class="form-control mb-4" id="tag" name="tag" rows="10">{{ product.tag }}</textarea>

    </div>
</div>

<div class="form-row">
    <div class="col-md-3 mb-4">
        <label for="in_stock">Stock: </label>
    </div>
    <div class="col-md-2 mb-4">
        <input type="number" class="form-control" id="in_stock" name="stock" placeholder="Initial Stock" min="0"
               step="1" max="9999" value="{{ product.in_stock }}" required>
        <div class="invalid-feedback">Please add an initial stock
        </div>
    </div>
</div>

<div class="form-row">
    <div class="col-md-3 mb-4">
        <label for="max_per_cart">Max product per order: </label>
    </div>
    <div class="col-md-2 mb-4">
        <input type="number" class="form-control" id="max_per_cart" name="max_per_cart" placeholder="Initial Stock"
               min="1"
               step="1" max="50" value="{{ product.max_per_cart }}" required>
        <div class="invalid-feedback">Please add an initial stock
        </div>
    </div>
</div>

<div class="form-row">
    <div class="col-md-3 mb-4">
        <label>Warranty: </label>
    </div>
    <div class="col-md-3 mb-2">
        <label for="warranty_years">Years</label>
        <input type="number" min="0" class="form-control" id="warranty_years" name="warranty_years"
               value="{{ product.warranty | date_to_year_month:'Y' }}">
        <div class="invalid-feedback">Value cant have decimal or negative</div>
    </div>
    <div class="col-md-3 mb-2">
        <label for="warranty_months">Months</label>
        <input type="number" min="0" class="form-control" id="warranty_months" name="warranty_months"
               value="{{ product.warranty | date_to_year_month:'M' }}">
        <div class="invalid-feedback">Value cant have decimal or negative</div>
    </div>
    <div class="col-md-3 mb-2">
        <label for="warranty_days">Days</label>
        <input type="number" min="0" class="form-control" id="warranty_days" name="warranty_days"
               value="{{ product.warranty | date_to_year_month:'D' }}">
        <div class="invalid-feedback">Value cant have decimal or negative</div>
    </div>
</div>

<div class="form-row">
    <div class="col-3 mb-4">
        <label>Cash on delivery:</label>
    </div>
    <div class="col-9 mb-4">
        <div class="custom-control custom-switch">
            <input type="checkbox" class="custom-control-input" id="cod" name="cod"
                    {% if product.cod %} checked{% endif %} >
            <label class="custom-control-label" for="cod"> Check, if COD is accepted</label>
        </div>
    </div>
</div>

<script>
    // Offer Checker
    $(function () {
        $("#chkOffer").click(function () {
            // console.log('clicked');
            const offer_details_div = $("#offer-details");
            const offer_price = $("#offer-price");
            const valid_form = $("#valid-from");
            const valid_upto = $("#valid-upto");
            if ($(this).is(":checked")) {
                offer_details_div.removeClass('d-none');
                offer_price.focus();
                offer_price.prop('required', true);
                valid_form.prop('required', true);
                valid_upto.prop('required', true);
            } else {
                offer_details_div.addClass('d-none');
                offer_price.prop('required', false);
                valid_form.prop('required', false);
                valid_upto.prop('required', false);
            }
        });
    });
</script>