<div class="modal fade" id="{{ order.order_id }}_view" tabindex="-1" role="dialog"
    aria-labelledby="{{ order.order_id }}_view" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">{{ order.order_id }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-left row">
                <div class="col-4">
                    <img src="/media/{{ order.product__primary_image }}" class="rounded img-thumbnail"
                        style="max-height: 100px; margin: auto;"
                        alt="{{ order.product__product_id | truncatechars:10 }}">
                </div>
                <div class="col-8">
                    <h6 class="product_id mb-4">
                        <span class="text-secondary font-weight-bold">Product ID:</span>
                        <span class="text-primary">{{ order.product__product_id }}</span>
                    </h6>
                    <p class="product_name "><span class="text-secondary font-weight-bold">
                        Product name:</span> {{ order.product__product_name }}
                    </p>
                    <p class="price_quantity">
                        <span class="text-secondary font-weight-bold">Quantity:</span> <span
                            class="badge badge-primary">{{ order.product_quantity }}</span> |
                        <span class="text-secondary font-weight-bold">Total Price:</span> <span
                            class="text-success font-weight-bold">₹ {{ order | get_final_price | floatformat:2 }}</span>
                    </p>
                </div>
            </div>
            <div class="modal-footer float-left">
                Shipment status:
                <span class="{{ order.order_status | status_color_badge }}">
                    {{ order.order_status | to_status_text}}
                </span>
            </div>
            <div class="modal-footer float-left">

                {% if order.order_status == 'PLC' %}
                <form class="d-none" method="post" action="{% url 'SELLER:mark-order-ready-to-ship' %}">
                    {% csrf_token %}
                    <input type="hidden" name="order_id" value={{ order.order_id }}>
                    <input type="hidden" name="return-to" value={{ request.path }}>
                    <button type="submit" class="btn btn-primary"><i data-feather="check-circle"></i> Ready to
                        ship</button>
                </form>
                {% elif order.order_status == 'RFS' %}
                <form class="d-none" method="post" action="{% url 'SELLER:unmark-order-ready-to-ship' %}">
                    {% csrf_token %}
                    <input type="hidden" name="order_id" value={{ order.order_id }}>
                    <input type="hidden" name="return-to" value={{ request.path }}>
                    <button type="submit" class="btn btn-danger"><i data-feather="x-circle"></i> Unready to
                        ship</button>
                </form>
                {% endif %}
                {% if order.order_status not in no_cancel_order_list %}
                <form class="d-none" method="post" action="{% url 'SELLER:cancel-order' %}">
                    {% csrf_token %}
                    <input type="hidden" name="order_id" value={{ order.order_id }}>
                    <input type="hidden" name="return-to" value={{ request.path }}>
                    <button type="submit" class="btn btn-danger">Cancel</button>
                </form>
                {% endif %}
            </div>
        </div>
    </div>
</div>