{% load humanize %}
<div class="card mb-4">
    <div class="card-header">
        <i data-feather="list"></i> Orders Updates
    </div>

    <!-- Table Start -->
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-sm table-bordered table-hover" id="dataTable" width="100%" cellspacing="0">
                <thead style="background: #EFEFEF;">
                <tr>
                    <th class="d-none"></th>
                    <th>Order id</th>
                    <th>Product</th>
                    <th>Quantity</th>
                    <th>Sold Price</th>
                    <th>Order Status</th>
                    <th>Updated at</th>
                </tr>
                </thead>

                <tbody style="cursor: pointer">
                {% for order in order_list %}
                    <tr data-toggle="modal" data-target="#{{ order.order_id }}_view">
                        <td class="d-none">{{ order.created_at }}</td>
                        <td class="align-middle " style="max-width: 15rem">{{ order.order_id }}</td>
                        <td class="align-middle" style="max-width: 25rem">{{ order.product__product_name | truncatechars:125}}</td>
                        <td class="align-middle text-center">{{ order.product_quantity }}</td>
                        <td class="align-middle text-right">₹  {{ order | get_final_price | floatformat:2 }}</td>
                        <td class="align-middle text-right "><span class="{{ order.order_status | status_color_badge }}">{{ order.order_status | to_status_text}}</span></td>
                        <td class="align-middle" style="max-width: 5rem">
                            <span class="d-none">{{ order.last_updated_at | date:"ymdHms"}}</span>
                            {{ order.last_updated_at | naturaltime}}
                        </td >
                    </tr>
                    <!-- Model -->
                    {% include 'SELLER/includes/order_details_modal.html' with order=order %}
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <!-- Table end -->
</div>