<form class="needs-validation" action="" method="POST"
      enctype="multipart/form-data" novalidate>
    {% csrf_token %}

    <div>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <button class="nav-link active" id="nav-home-tab" data-toggle="tab"
                    data-target="#product-detail" type="button"
                    role="tab" aria-controls="product-detail" aria-selected="true">Details
            </button>
            <!--button class="nav-link" id="nav-profile-tab"
                    data-toggle="tab" data-target="#product-specification" type="button"
                    role="tab" aria-controls="product-specification" aria-selected="false">Specification
            </button-->
        </div>
    </div>
    <div class="tab-content border border-top-0 p-2" id="nav-tabContent">
        <div class="tab-pane fade show active" id="product-detail" role="tabpanel" aria-labelledby="nav-home-tab">
            {% include 'SELLER/includes/details-form.html' with product=product categories=categories %}
        </div>
        <!--div class="tab-pane fade" id="product-specification" role="tabpanel" aria-labelledby="nav-profile-tab">
           Coming Soon...
        </div-->
    </div>
    {% if product %}
        <div class="float-right">
            <button type="button" class="btn btn-outline-danger  mb-4 shadow" data-toggle="modal"
                    data-target=".bd-example-modal-md">
                <i data-feather="trash-2"></i> Delete
            </button>
            <button class="btn btn-outline-primary  mb-4 shadow" type="submit"><i data-feather="save"></i> Save</button>
        </div>
        {% else %}
        <div class="float-right">
            <button class="btn btn-outline-success mb-4 shadow" type="submit"><i data-feather="plus"></i> Add New Product</button>
        </div>
    {% endif %}


</form>

{% block body_end_content %}
    {% if product %}
        <div class="modal fade bd-example-modal-md" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
             aria-hidden="true">
            <div class="modal-dialog modal-md">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Do you really want to delete?</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">No</button>
                        <a type="button" class="btn btn-danger"
                           href="{% url 'SELLER:delete-product' product.product_id %}">
                            <i data-feather="trash-2"></i> Delete
                        </a>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    <script>
        // Example starter JavaScript for disabling form submissions if there are invalid fields
        (function () {
            'use strict';
            window.addEventListener('load', function () {
                // Fetch all the forms we want to apply custom Bootstrap validation styles to
                var forms = document.getElementsByClassName('needs-validation');
                // Loop over them and prevent submission
                var validation = Array.prototype.filter.call(forms, function (form) {
                    form.addEventListener('submit', function (event) {
                        if (form.checkValidity() === false) {
                            event.preventDefault();
                            event.stopPropagation();
                        }
                        form.classList.add('was-validated');
                    }, false);
                });
            }, false);
        })();

        // Add the following code if you want the name of the file appear on select
        $(".custom-file-input").on("change", function () {
            var fileName = $(this).val().split("\\").pop();
            $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
        });
    </script>
{% endblock body_end_content %}