
<footer class="py-4 bg-light mt-auto">
    <div class="container-fluid">
        <div class="d-flex align-items-center justify-content-between small">
            <div class="text-muted">Copyright &copy; CTMela 2021</div>
            <div>
                <a href="https://uat.ctmela.com/policies/privacy-policy">Privacy Policy</a>
                &middot;
                <a href="https://uat.ctmela.com/policies/terms-of-use">Terms of Use</a>
                &middot;
                <a href="https://uat.ctmela.com/policies/cookie-policy">Cookie Policy</a>
            </div>
        </div>
    </div>
</footer>