<nav id="sidebar">
    <div id="sidebarCollapse" class="side-nav-toggle btn-dark">
        <i data-feather="chevron-left" class="chevron_icon"></i>
    </div>
    <div class="sidebar-header">
        <h3><a class="navbar-brand" href="{% url 'SELLER:dashboard' %}">{% get_project_name %}</a></h3>
        <hr>
    </div>
    <ul class="list-unstyled components">
        <p>MENUS</p>
        <li><a class="nav-link" href="{% url 'SELLER:dashboard' %}"> <i data-feather="sliders"></i> Dashboard </a></li>

        <li>
            <a href="#product-menu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                <i data-feather="package"></i> Products
            </a>
            <ul class="collapse list-unstyled" id="product-menu">
                <li><a href="{% url 'SELLER:all-products' %}">All Products</a></li>
                <li><a href="{% url 'SELLER:add-product' %}">Add new products</a></li>
            </ul>
        </li>

        <li>
            <a href="#order-link" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                <i data-feather="list"></i> Manage Orders
            </a>
            <ul class="collapse list-unstyled" id="order-link">
                <li><a class="nav-link collapsed" href="{% url 'SELLER:orders' 'all' %}">All Orders</a></li>
                <li><a class="nav-link" href="{% url 'SELLER:orders' 'new' %}">New Order</a></li>
                <li><a class="nav-link" href="{% url 'SELLER:orders' 'ongoing' %}">Ongoing Order</a></li>
                <li><a class="nav-link" href="{% url 'SELLER:orders' 'delivered' %}">Delivered Order</a></li>
            </ul>
        </li>
        <li><a class="nav-link" href="{% url 'SELLER:all-message' %}"> <i data-feather="mail"></i> Message </a></li>

    </ul>
    <ul class="list-unstyled CTAs user-container">
        <li class="user-info">Logged in as: {{ user.get_full_name }}</li>
        <li> <a href="{% url 'HOME:logout' %}" class="logout-btn">Logout</a> </li>
    </ul>
</nav>

<script>
    const collapseSidebar = () => {
        console.log('trigger')
        console.log(document.querySelector("#sidebar"))
        console.log(document.querySelector("#sidebar").classList)
        document.querySelector("#sidebar").classList.toggle('.active')
        console.log(document.querySelector("#sidebar").classList)
        document.querySelector(".content").classList.toggle('.active')
        document.querySelector(".chevron_icon").classList.toggle('.active')
    }

    $(document).ready(function(){
        $("#sidebarCollapse").on('click', function(){
            $("#sidebar").toggleClass('active');
            $(".content").toggleClass('active');
            $(".chevron_icon").toggleClass('active')
        });
    });
</script>


<!-- Side Navigation section start --
<div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
        <div class="sb-sidenav-menu">
            <div class="nav">
                <div class="sb-sidenav-menu-heading">Core</div>
                <a class="nav-link" href="{% url 'SELLER:dashboard' %}">
                    <div class="sb-nav-link-icon"><i data-feather="sliders"></i></div>
                    Dashboard
                </a>
                <div class="sb-sidenav-menu-heading">Interface</div>
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                    <div class="sb-nav-link-icon"><i data-feather="package"></i></div>
                    Products
                    <div class="sb-sidenav-collapse-arrow"><i data-feather="chevron-down"></i></div>
                </a>
                <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne" data-parent="#sidenavAccordion">
                    <nav class="sb-sidenav-menu-nested nav">
                        <a class="nav-link" href="{% url 'SELLER:all-products' %}">All Products</a>
                        <a class="nav-link" href="{% url 'SELLER:add-product' %}">Add new products</a>
                    </nav>
                </div>
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages" aria-expanded="false" aria-controls="collapsePages">
                    <div class="sb-nav-link-icon"><i data-feather="list"></i></div>
                    Manage Orders
                    <div class="sb-sidenav-collapse-arrow"><i data-feather="chevron-down"></i></div>
                </a>
                <div class="collapse" id="collapsePages" aria-labelledby="headingTwo" data-parent="#sidenavAccordion">
                    <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionPages">
                        <a class="nav-link collapsed" href="{% url 'SELLER:orders' 'all' %}">All Orders</a>
                        <a class="nav-link" href="{% url 'SELLER:orders' 'new' %}">New Order</a>
                        <a class="nav-link" href="{% url 'SELLER:orders' 'ongoing' %}">Ongoing Order</a>
                        <a class="nav-link" href="{% url 'SELLER:orders' 'delivered' %}">Delivered Order</a>

                    </nav>
                </div>
            </div>
        </div>
        <div class="sb-sidenav-footer">
            <div class="small">Logged in as:</div>
            {{ user.get_full_name }}
        </div>
    </nav>
</div>
-- Side Navigation section end -->