{% extends 'SELLER/base.html' %}
{% load static %}

{% block head_content %}
    <!-- Include the required files -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
    <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
    <style>
        .markdown-container {
            display: flex;
            flex-direction: column;
        }
    </style>

{%  endblock head_content %}


{% block body_content %}

    <div class="container-fluid">
        {#                <h1 class="mt-4">Seller Dashboard</h1>#}
        <hr>
        <ol class="breadcrumb mb-4 border-success shadow">
            <li class="breadcrumb-item text-success">
                <strong>
                    <i data-feather="plus"></i> Add New Product
                </strong>
            </li>
        </ol>

        {% include 'SELLER/includes/product-form.html' with product=product categories=categories %}

    </div>

    <script>
        // Example starter JavaScript for disabling form submissions if there are invalid fields
        (function () {
            'use strict';
            window.addEventListener('load', function () {
                // Fetch all the forms we want to apply custom Bootstrap validation styles to
                var forms = document.getElementsByClassName('needs-validation');
                // Loop over them and prevent submission
                var validation = Array.prototype.filter.call(forms, function (form) {
                    form.addEventListener('submit', function (event) {
                        if (form.checkValidity() === false) {
                            event.preventDefault();
                            event.stopPropagation();
                        }
                        form.classList.add('was-validated');
                    }, false);
                });
            }, false);
        })();

        // Offer Checker
        $(function () {
            $("#chkOffer").click(function () {
                // console.log('clicked');
                const offer_details_div = $("#offer-details");
                const offer_price = $("#offer-price");
                const valid_form = $("#valid-from");
                const valid_upto = $("#valid-upto");
                if ($(this).is(":checked")) {
                    offer_details_div.removeClass('d-none');
                    offer_price.focus();
                    offer_price.prop('required', true);
                    valid_form.prop('required', true);
                    valid_upto.prop('required', true);
                } else {
                    offer_details_div.addClass('d-none');
                    offer_price.prop('required', false);
                    valid_form.prop('required', false);
                    valid_upto.prop('required', false);
                }
            });
        });


        // Add the following code if you want the name of the file appear on select
        $(".custom-file-input").on("change", function () {
            var fileName = $(this).val().split("\\").pop();
            $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
        });

        // Simple Markdown Editor
        const simplemde = new SimpleMDE({
            element: document.getElementById("long-description")
        });
    </script>
{% endblock body_content %}