{% extends 'SELLER/base.html' %}
{% load static %}

{% block nav_content %}
    {% include 'SELLER/includes/seller-nav.html' %}
{%  endblock nav_content %}


{% block body_content %}
    {% include 'SELLER/includes/seller-side-nav.html' %}

    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid">
{#                <h1 class="mt-4">Seller Dashboard</h1>#}
            <hr>
                <ol class="breadcrumb mb-4">
                    <li class="breadcrumb-item active">
                        < Dashboard > &emsp; Welcome Back {{ user.get_full_name }}
                    </li>
                </ol>

                {% include 'SELLER/includes/cards.html' %}

                <!-- Table Section Start -->
                {% include 'SELLER/includes/order_table.html' with order_list=order_list %}
                <!-- Table Section end -->
            </div>
        </main>

        {% include 'SELLER/includes/seller-footer.html' %}
    </div>


{% endblock body_content %}