{% extends 'SELLER/base.html' %}
{% load static %}

{% block nav_content %}
{%  endblock nav_content %}


{% block body_content %}

        <hr>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item active">
                <i data-feather="home"></i> &emsp; Dashboard &ensp;|&ensp; Hi {{ user.first_name }}
            </li>
        </ol>

        {% include 'SELLER/includes/cards.html' with ongoing_order_details=ongoing_order_details %}

        <!-- Table Section Start -->
        {% include 'SELLER/includes/order_table.html' with order_list=order_list %}
        <!-- Table Section end -->



{% endblock body_content %}