{% extends 'SELLER/base.html' %}
{% load static %}
{% load custom_tag %}


{% block body_content %}

    <div class="container">
        <hr>
        <ol class="breadcrumb mb-4 border-primary shadow">
            <li class="breadcrumb-item text-primary">
                <strong>
                    <i data-feather="edit-3"></i> Edit Product: {{ product.product_id }}
                </strong>
            </li>
        </ol>

        {% include 'SELLER/includes/product-form.html' with product=product categories=categories %}

    </div>

{% endblock body_content %}
