{% extends 'SELLER/base.html' %}
{% load static %}
{% load custom_tag %}

{% block head_content %}

{% endblock head_content %}

{% block body_content %}

<div class="table-responsive">
    <table class="table table-sm table-bordered table-hover" id="dataTable" width="100%" cellspacing="0">
        <thead style="background: #EFEFEF;">
        <tr>
            <th class="d-none"></th>
            <th>Message id</th>
            <th>From</th>
            <th>Subject</th>
            <th>Date Time</th>
        </tr>
        </thead>

        <tbody style="cursor: pointer">
        {% for msg in messages_list %}
            <tr
                    class="{% if not msg.read_status %}table-secondary{% endif %}"
                    onclick="location.href='{% url 'SELLER:message-by-id' msg.message_id %}'"
            >
                <td class="d-none"></td>
                <td class="align-middle " style="max-width: 15rem">{{ msg.message_id }}</td>
                <td class="align-middle text-center" style="max-width: 25rem">{{ msg.sender }}</td>
                <td class="align-middle text-center">{{ msg.title }}</td>
                <td class="align-middle text-left">{{ msg.timestamp }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock body_content %}

{% block body_end_content %}

{% endblock body_end_content %}