{% extends 'SELLER/base.html' %}
{% load humanize %}
{% load static %}

{% block head_content %}
    <style>
        .tr-product {
            cursor: pointer;
        }

        .td-product-id {
            max-width: 10rem;
        }

        .td-product-img {
            max-width: 25rem;
        }

        .td-product-name {
            max-width: 25rem;
            min-width: 15rem;
        }

        .td-product-modified {
            max-width: 5rem;
            min-width: 3rem;
        }

    </style>
{% endblock head_content %}

{% block nav_content %}
    {% include 'SELLER/includes/seller-nav.html' %}
{% endblock nav_content %}


{% block body_content %}

    <div class="container-fluid">
        <hr>
        <!-- Table Section Start -->
        <div class="card mb-4">
            <div class="card-header">
                <i data-feather="package"></i> All Products
            </div>

            <!-- Table Start -->
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-striped" id="dataTable" width="100%" cellspacing="0">
                        <thead class="thead-dark">
                        <tr>
                            <th class="d-none"></th>
                            <th>Product id</th>
                            <th>Image</th>
                            <th>Product Name</th>
                            <th class="text-right">Stock</th>
                            <th class="text-right">Price</th>
                            <th class="text-right">Offer</th>
                            {#                                    <th>Category</th>#}
                            <th class="text-center">Total Sell</th>
                            <th>Last Modified</th>
                        </tr>
                        </thead>

                        <tbody class="text-dark">
                        {% for product in products %}
                            <tr class="tr-product"
                                onclick="location.href='{% url "SELLER:edit-product" product.product_id %}'">
                                <td class="d-none"></td>
                                <td class="align-middle text-left td-product-id">{{ product.product_id }}</td>
                                <td class="td-product-img">
                                    <img
                                            src="/media/{{ product.primary_image }}"
                                            {#                                            style="max-height: 100px; max-width: 100px; margin: auto;"#}
                                            style="width: 3rem; height: 3rem"
                                            class="rounded-circle m-auto"
                                            alt="{{ product.product_id | truncatechars:10 }}"
                                    >

                                </td>
                                <td class="align-middle td-product-name">{{ product.product_name | truncatechars:60 }}</td>
                                <td class="align-middle text-right">{{ product.in_stock }}</td>
                                <td class="align-middle text-right">₹{{ product.price | floatformat:2 }}</td>
                                <td class="align-middle text-right">₹{{ product.offer_price }}</td>
                                {#                                        <td class="align-middle">{{ product.category__category_name }}</td>#}
                                <td class="align-middle text-center">{{ product.sell_count }}</td>
                                <td class="align-middle td-product-modified" style="">
                                    <span class="d-none">{{ product.last_modified | date:"ymdHms" }}</span>
                                    {{ product.last_modified | naturaltime }}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- Table Start -->
        </div>
        <!-- Table Section Start -->
    </div>

{% endblock body_content %}