{% extends 'base/base.html' %}
{% load static %}

{% block head_content %}
    <title>404 Error</title>
    <link rel="stylesheet" href="{% static 'base/css/404.css' %}">
{% endblock head_content %}

{#{% block nav_content %}#}
{#    {% include 'base/include/navbar.html' %}#}
{#{% endblock nav_content %}#}

{% block body_content %}
    <div class="not-found-container">
        <img src="{% get_media_prefix %}image/404.svg" alt="" class="not-found-img">
    </div>
    <div class="text-center back_to_homepage">
        <a class="btn btn-lg btn-outline-primary" onclick="location.href='/'">&larr; Back to homepage</a>
    </div>
{% endblock body_content %}